.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: transparent;
  }
  
  .error-heading {
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: -10rem;
    font-weight: 500;
    font-size: 6rem;
  }
  
  .error-message {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .error-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    margin-top: 3.0rem;
  }
  
  .button {
    background-color: #7c3aed;
    color: white;
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    background-color: #6a31cc;
  }
