.mint-heading {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: -20rem;
    margin-bottom: 5rem;
}

.mint-input {
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
}

.col-span-8 {
    padding-right: 10px;
}

.col-span-4 {
    padding-left: 10px;
}
