.App {
  text-align: center;
  background-color: #0f172a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}