@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-number {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
      }
}

body {
  background-color: #0f172a;
}